# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules

# testing
/coverage

# production
/dist
/build
/storybook-static

# misc
.DS_Store
.env.*

npm-debug.log*
build-storybook.log*
*storybook.log
/test-results

src/stories/*
